* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #43affc;
}

.wrapper {
    background-color: #fff;
    width: 440px;
    border-radius: 7px;
}

.wrapper h3 {
    color: #43affc;
    font-size: 21px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding: 16px 18px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}

h3 i {
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}

.wrapper.active h3 i{
    font-size: 30px;
    margin-left: 5px;
}

.wrapper .input-part {
    margin: 20px 25px 30px;
}

.wrapper.active .input-part {
    display: none;
}

.input-part .info-txt {
    display: none;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    padding: 12px 10px;
    border-radius: 7px;
}

.info-txt.error {
    display: block;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.info-txt.pending {
    display: block;
    color: #0c5460;
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
}

.input-part :where(input, button) {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 7px;
    font-size: 18px;
}

.input-part input {
    border: 1px solid #bfbfbf;
    text-align: center;
}

.input-part input:is(:focus, :valid) {
    border: 2px solid #43affc;
}

.input-part .seperator {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.seperator::before {
    content: "or";
    background-color: #fff;
    color: #ccc;
    padding: 0px 15px;
}

.input-part button {
    color: #fff;
    cursor: pointer;
    background-color: #43affc;
}

.wrapper .weather-part {
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper.active .weather-part{
    display: flex;
}

.weather-part img {
    max-width: 125px;
}

.weather-part .temp {
    display: flex;
    font-size: 72px;
    font-weight: 500;
}

.weather-part .temp .numb {
    font-weight: 600;
}

.weather-part .temp .deg {
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}

.weather-part .weather {
    font-size: 22px;
    text-align: center;
    margin: -5px 20px 15px;
}

.weather-part .location {
    font-size: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.location i {
    font-size: 22px;
    margin-right: 5px;
}

.weather-part .bottom-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}

.bottom-details .column {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0;
    justify-content: center;
}

.column i {
    color: #43affc;
    font-size: 40px;
}

.column.humidity {
    border-left: 1px solid #bfbfbf;
}

.details .temp,
.humidity span {
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg {
    margin: 0;
    font-size: 17px;
    pad: 0 2px 0 1px;
}

.details p {
    font-size: 15px;
    margin-top: -6px;
}